.button {
  display: none;
  width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    margin: -16px -1px 16px 291px;
  
    &:hover {
      background-color: #eaeaea;
      // display: block;
    }
  }